<a href="https://colab.research.google.com/github/Edward-Regalado/linear-regression/blob/main/bitcoin_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regressions - Bitcoin Price Prediction

## Import Libraries

In [24]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn import metrics
from sklearn import train_test_split

ImportError: ignored

## Import Data

In [23]:
from google.colab import files
upload = files.upload()

Saving bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv to bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv

## Assign DataFrame to the CSV File

In [28]:
# assign DataFrame to varible
btc = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')
btc.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

## Ensure that any date columns have been cast into a datetime object in your DataFrame.

In [34]:
btc.dropna(subset=['Open', 'High', 'Low', 'Volume_(BTC)', 'Volume_(Currency)', 'Weighted_Price'], inplace=True)
btc

          Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
0        1325317920      4.39  ...           2.000000        4.390000
478      1325346600      4.39  ...         210.720000        4.390000
547      1325350740      4.50  ...         171.380338        4.526411
548      1325350800      4.58  ...          41.220000        4.580000
1224     1325391360      4.58  ...           6.879160        4.580000
...             ...       ...  ...                ...             ...
4857372  1617148560  58714.31  ...       81259.372187    58692.753339
4857373  1617148620  58683.97  ...      428158.146640    58693.226508
4857374  1617148680  58693.43  ...      100117.070370    58696.198496
4857375  1617148740  58742.18  ...       42332.958633    58761.866202
4857376  1617148800  58767.75  ...      159417.751000    58764.349363

[3613769 rows x 8 columns]

## Using a regression model, split your data into train and test data.

## Fit your training split to the regression model.

## Show your regression model’s score.

## Draw at least three conclusions from your regression model.

##